@import "root.css";
.jumbotron{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 200px;
}
h2#board-heading{
    font-size: 3rem;
    font-family: 'Noto Sans B', sans-serif;
    font-weight: normal;
    margin: 0px;
}

p#board-description{
    font-size: 1.8rem;
    font-family: 'Noto Sans T', sans-serif;
    font-weight: normal;
    margin: 0px;
    letter-spacing: -0.1rem;
}

#board-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
#board-card{
    background-color: white;
    width: calc(50% - 10px);
    border-radius: 10px;
    margin: 15px 5px;
    -webkit-box-shadow: #e0e0e0 5px 5px 14px;
            box-shadow: #e0e0e0 5px 5px 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    word-break: break-all;
}

#board-head-meta{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 20px;
    font-family: 'Noto Sans T', sans-serif;
}

#board-meta{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 20px 5px 20px;
    font-family: 'Noto Sans T', sans-serif;
}

span#board-no{
    font-size: 2rem;
}

#board-title{
    padding: 0px 20px 5px 20px;
}

#board-title a{
    text-decoration: none;
    color: black;
}
#board-title h3{
    font-size: 1.8rem;
    margin: 0px;
    font-family: 'Noto Sans R', sans-serif;
    letter-spacing: -0.1rem;
}

button#board-write{
    background-color: #4A6572;
    border-radius: 100% 0px 0px 0px;
    border: none;
    width: 80px;
    height: 80px;
    position: fixed;
    right: 0px;
    bottom: 0px;
    -webkit-animation-name: write-btn-show;
            animation-name: write-btn-show;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;

}

button#board-write > img{
    margin: 50% 0px 10px auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 40%;
}

button#board-write span{
    width: 100%;
    text-align: right;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-family: 'Noto Sans T', sans-serif;
    font-weight: bold;
    color: #e0e0e0;
}

@-webkit-keyframes write-btn-show {
    from {
        -webkit-box-shadow: 0px 0px 2px 50vw #4A6572;
                box-shadow: 0px 0px 2px 50vw #4A6572;
    }
    to {
        -webkit-box-shadow: 0px 0px 0px 0px rgba(74,101,114,0.3) ;
                box-shadow: 0px 0px 0px 0px rgba(74,101,114,0.3) ;
    }
}

@keyframes write-btn-show {
    from {
        -webkit-box-shadow: 0px 0px 2px 50vw #4A6572;
                box-shadow: 0px 0px 2px 50vw #4A6572;
    }
    to {
        -webkit-box-shadow: 0px 0px 0px 0px rgba(74,101,114,0.3) ;
                box-shadow: 0px 0px 0px 0px rgba(74,101,114,0.3) ;
    }
}

/*BOARD READ*/
#board-read-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
}

span#board-read-no{
    font-family: 'Noto Sans T', sans-serif;
    font-size: 1.5rem;
}

h3#board-read-title{
    font-family: 'Noto Sans R', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin: 5px 0px;
}

#board-read-btn-wrapper{
    -ms-flex-item-align: end;
        align-self: flex-end;
}

#board-comment-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
}

span#board-read-author, span#board-read-date{
    font-family: 'Noto Sans T', sans-serif;
    font-size: 1.1rem;
}

p#board-read-contents{
    font-family: 'Noto Sans R', sans-serif;
    font-size: 1.25rem;
    word-break: break-all;
    white-space: pre-wrap;
    margin: 5px 0px;
    padding: 10px;
}

#board-read{
    width: 100%;
    min-height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 30px;
    padding: 10px 10px 10px 10px;
    border-right: 1px solid #e0e0e0;
    -webkit-box-shadow: #e0e0e0 5px 5px 14px;
            box-shadow: #e0e0e0 5px 5px 14px;
}

#board-comment-wrapper{
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
}

#board-comment-wrapper h3{
    font-size: 1.8rem;
    font-family: 'Noto Sans R', sans-serif;
    letter-spacing: -0.1rem;
    margin: 0px 0px 20px 0px;
}

#board-comment-form form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

#board-comment-form form > *{
    width: 100%;
}

#board-comment-form form textarea{
    margin-bottom: 10px;
    height: 90px;
}

#board-comment-form form button{
    width: 150px;
    margin-left: auto;
    margin-right: 0px;
}

#board-comment-idpw-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#board-comment-idpw-wrapper input{
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-bottom: 10px;
    max-width: calc(50% - 10px);
}

#board-comment-idpw-wrapper input:nth-child(1){
    /*아이디*/
    margin-right: 10px;
}

.comment-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px 0px;
    padding: 10px 0px;
    border-top: 1px solid #e0e0e0;
}

.comment-item-contents-wrapper{

}

span#comment-author, span#comment-date{
    font-family: 'Noto Sans T', sans-serif;
    font-size: 1.1rem;
}

p#comment-contents{
    font-family: 'Noto Sans R', sans-serif;
    font-size: 1.2rem;
    padding: 10px;
}


/* UPDATE - 게시글, 댓글 공통 */

.update-form-wrapper{
    margin-top: 20px;
    margin-bottom: 20px;
}

.update-form-wrapper h2{
    font-size: 3rem;
    font-family: 'Noto Sans B', sans-serif;
    font-weight: normal;
}

.update-form-wrapper form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.update-form-contents{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.update-form-contents label{
    width: 100%;
    font-family: 'Noto Sans R', sans-serif;
    font-size: 1.2rem;
    margin: 10px 0px;
}

.update-form-contents textarea{
    min-height: 300px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.update-form-password{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
}

.update-form-password label{
    width: 100%;
    margin: 10px 0px;
    font-family: 'Noto Sans R', sans-serif;
    font-size: 1.2rem;
}

.update-form-password input{
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%;
}

.update-form-wrapper button{
    width: 150px;

}

/* DELETE : 댓글, 본문 공통 */
.board-delete-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    width: 100%;
    height: calc(100vh - 100px);

    background-image: url("../../assets/image/login_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}

.board-delete-wrapper form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
}

.board-delete-wrapper form button{
    margin-top: 20px;
}

@media (max-width: 1023px) {
    #board-wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    #board-card{
        width: 100%;
    }

    /*BOARD READ*/
    #board-read-wrapper{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    #board-read{
        width: 100%;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: #e0e0e0 2px solid;
        border-right: none;
    }

    /* UPDATE - 게시글, 댓글 공통 */


}

