@import "root.css";

h2{
    font-family: 'Noto Sans B', sans-serif;
    font-size: 2rem;
}

/* BOOKING DETAIL */

#booking-detail-wrapper{
    display: flex;
    flex-direction: row;
}

#booking-detail-img-map-wrapper{
    width: 40%;
}

#booking-detail-img-map-wrapper img{
    width: 100%;
}

#booking-detail-img-map-wrapper #googleMap{
    /*width: 100%;*/
}

#booking-detail-contents-wrapper{
    display: flex;
    flex-direction: column;
    width: 60%;
    box-shadow: #e0e0e0 5px 5px 5px;
    padding: 10px 20px 20px 20px;
}

#booking-detail-contents-wrapper table th{
    width: 45%;
    text-align: left;
    letter-spacing: -0.1rem;
}

#booking-detail-contents-wrapper table td{
    width: 55%;
    letter-spacing: -0.1rem;
}


#booking-detail-btn-wrapper{
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #e0e0e0;
    width: 100%;
    text-align: right;
}


/* BOOKING CANCEL */
#booking-cancel-wrapper{
    width: 100%;
    height: calc(100vh - 100px);

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../../assets/image/login_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}

#booking-cancel-wrapper form{
    display: flex;
    flex-direction: column;
    width: 300px;
}

#booking-cancel-wrapper form p{
    font-family: 'Noto Sans R', sans-serif;
    font-size: 1.2rem;
}

#booking-cancel-wrapper form button{
    margin-top: 20px;
}

@media (max-width: 769px) {
    #booking-detail-wrapper{
        display: flex;
        flex-direction: column;
    }

    #booking-detail-wrapper > *{
        width: 100%;
        margin: 5px 0px;
    }
}