#login{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90vh;

    background-image: url("../../assets/image/login_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}

h1#login-heading{
    font-family: 'Noto Sans B', sans-serif;
    font-weight: normal;
    color: white;
    font-size: 2.5rem;
    margin: 0px;
}

form#login-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.login-input-wrapper{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}



form#login-form label{
    font-family: 'Noto Sans R', sans-serif;
    font-size: 1.2rem;
    
}